img{
  display: block;
  margin-left: 41%;
  margin-right: 40%;
  margin-top: 16.5%;
  margin-bottom: 20px;
  width: 360px;
  height: 200px;
}
.Idem {
  opacity: 1.0;
  overflow: hidden;
  position: center;
  width: 50%;
  margin-left: 28%;
}
.Idem a {
  float: left;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
  padding: 14px 16px(1.4);
  text-decoration: none;
  font-size: 17px;
  width: 16.66%;
}
.Idem a:hover {
  color:rgba(255, 255, 255, 0.8);
  opacity: 0.6;
}
body {
  background-image: url("header_bg.jpg");
  width: 1349px;
  height: 667px;
  background-size: 100%;
  overflow: hidden;
}
.idem {
  opacity: 1.0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 50%;
  margin-left: 28%; 
}
.idem a {
  float: left;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
  padding: 14px 16px(1.4);
  text-decoration: none;
  font-size: 17px;
  width: 16.66%;
}
.idem a:hover {
  color:rgba(255, 255, 255, 0.8);
  opacity: 0.6;
}
p{
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 25px;
  width: 60%;
  margin-left: 25%;
}
